.custom-tooltip {
  text-transform: capitalize;
  font-weight: 700;
  backdrop-filter: blur(15px);
  padding: 1rem;
  border-radius: 0.3rem;
}
.custom-tooltip.ingreso {
  color: #008000;
  border: 1px solid #008000;
}
.custom-tooltip.gasto {
  color: #ff0000;
  border: 1px solid #ff0000;
}
.recharts-legend-wrapper {
  width: 100%;
}
