.spinner-container {
  display: grid;
  place-content: center;
}

.spinner {
  border: 5px solid #f5f3f3;
  border-top: 5px solid #09f;
  border-radius: 50%;
  min-width: 25px;
  min-height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
