.totales {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.totales .sectionTotales {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  border-radius: 0.3rem;
  padding: 1rem;
}
body.dark .sectionTotales {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
body.light .sectionTotales {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
.totales .positivo {
  color: #008000;
}
.totales .negativo {
  color: #800000;
}
