.transactionForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  height: 100%;
  min-height: 300px;
  width: 100%;
  max-width: 500px;
  gap: 1rem;
  border-radius: 0.3rem;
  letter-spacing: 1px;
  animation: aparecer 0.5s ease forwards;
}
.headerTransactionForm h2 {
  width: 100%;
  text-align: center;
}

.transactionForm .mainTransactionForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 100%;
  flex: auto;
}
.transactionForm .mainTransactionForm samp {
  color: #ff0000;
}
.mainTransactionForm input,
select {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: transparent;
}
.inputDateTransactionForm {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.inputDateTransactionForm::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.inputDateTransactionForm::before {
  content: '\1F4C5';
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.mainTransactionForm select option {
  background-color: #fff;
  color: #333;
}
.footerTransactionForm {
  margin-top: 1rem;
}
