.mainDashboard {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mainDashboard h1,
h2 {
  text-align: center;
}
.mainDashboard .transactionArticle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.transactionArticle .btnsDashboard {
  display: flex;
  gap: 1rem;
  margin: auto;
}
.btnsDashboard .btnAbrirForm,
.btnCambiarVista {
  width: fit-content;
}
.transactionArticle .listTransactions {
  list-style-type: none;
  padding: 1rem 0;
  border-radius: 0.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.listTransactions .elementTransactions {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  view-timeline-name: --revealing-card;
  view-timeline-axis: block;
  animation-name: showAnimation;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-timeline: --revealing-card;
  animation-range: entry 0% 10%;
}
.elementTransactions.top {
  position: sticky;
  top: 1rem;
  z-index: 2;
  backdrop-filter: blur(15px);
}
.elementTransactions .mainTransaction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.mainTransaction svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.5rem;
}

.mainTransaction.ingreso svg {
  background-color: #008000;
}
.mainTransaction.gasto svg {
  background-color: #800000;
  transform: rotate(180deg);
}
.elementTransactions footer {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.balance {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}

.balance .positivo {
  color: #008000;
}
.balance .negativo {
  color: #800000;
}
@keyframes showAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
  50% {
    opacity: 0.5;

    transform: translate(0) scale(0.5);
  }
  100% {
    opacity: 1;

    transform: translate(0) scale(1);
  }
}
