.auth-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: none;
  position: fixed;
  animation: aparecer 0.5s ease forwards;
  inset: 0;
  background-color: #333;
}

.auth-dialog .auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
}
.auth-dialog main .label-auth-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label-auth-form .errors {
  color: #ff0000d2;
}
.label-auth-form .auth-input {
  margin-bottom: 10px;
  padding: 8px;
  background-color: transparent;
  border-radius: 0.3rem;
}
.auth-dialog footer .auth-button {
  padding: 0.5rem 1rem;
  background-color: none;
  border-radius: 0.3rem;
  background-color: transparent;
  cursor: pointer;
}

.auth-dialog footer .spanFooter {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
}
.auth-dialog footer .spanFooter:hover {
  text-decoration: underline;
}
