* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  letter-spacing: 0.5px;
}

body.light {
  --bg-color: #ffffff;
  --text-color: #333333;
}

body.dark {
  --bg-color: #333333;
  --text-color: #ffffff;
}

body.light,
body.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}
main {
  padding: 1rem;
  display: grid;
}

button {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  transition: color, background-color, transform 0.3s;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

body.light button,
input,
select,
form,
.date-range-picker {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

body.dark button,
input,
select,
form,
.date-range-picker {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

body.dark .auth-dialog {
  background-color: var(--bg-color);
}
body.light .auth-dialog {
  background-color: var(--bg-color);
}
body.dark button:hover {
  background-color: var(--text-color);
  transform: scale(0.99);
  color: var(--bg-color);
}
body.light button:hover {
  background-color: var(--text-color);
  transform: scale(0.99);
  color: var(--bg-color);
}

.headerBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  margin: auto;
  cursor: pointer;
}
.headerBtns span {
  background-color: #333333;
  border-radius: 50%;
  transition: opacity, transform 0.3s ease;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerBtns .btns {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.headerBtns:hover span {
  opacity: 0;
  transform: scaleY(0);
}
.headerBtns:hover .btns {
  opacity: 1;
  transform: scaleY(1);
}
