.btnTema {
  width: 30px;
  height: 30px;
  border-radius: 10rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  left: 100%;
  top: 1rem;
}

.btnTema.isDark {
  box-shadow: inset 0px 0px 5px 15px #fff;
}
.btnTema.isLight {
  box-shadow: inset 0px 0px 5px 5px #333;
}
