.btnColorTema {
  position: relative;
  width: 100%;
  display: flex;
}
.btnColorTema .btnTema {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnColorTema .btnTema span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.btnTema.isDark {
  background-color: yellow;
}
.btnTema.isLight {
  background-color: #333;
  outline-color: rgb(0, 136, 255);
}
.isDark span {
  transform: translateX(100%);
}
